
.container {
    display: flex;
    flex-direction: row;
    gap: 70%;
    margin-bottom: 10px;
  }
  
  .cancelText {
    color: black;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
  }
  
  .buttonContainer {
    display: flex;
    gap: 15px;
  }