.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
    width: 325px;
    height: 40px;
}

.label {
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.input {
    padding: 8px 11px 8px 11px;
    border-radius: 4px;
    font-size: 16px;
    background-color: #F6F6F6;
    border: none;
}
.input:focus {
    outline: none;
}

.inputError {
    border: 1px solid ;
    border-color: red;
}

.errorText {
    color: red;
    font-size: 12px;
    margin: 0px;
}
.input::placeholder {
    font-weight: '400';
    color: #6B6B6B;
    font-size: 14px;
}
